
h1 {
    color: rgb(196, 179, 27);
    align-self: center;
    size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {

    text-align: center;
 
}

h3 {

    text-align: center;

}
